version: '3.9'

services:
  app:
    build:
      context: .
      target: allinone
    ports:
      - "5173:80"
    environment:
      NODE_ENV: production
      ANIMATIONS_DIR: /app/animations
      CONFIG_DIR: /app/config
    volumes:
      - ./client/public/animations:/app/animations
      - ./client/public/config:/app/config
