services:
  app:
    build:
      context: .
      target: allinone
    environment:
      - PORT=8080
      - SERVICE_FQDN_APP_8080
      - SERVICE_URL_APP_8080
      - SERVICE_FQDN_APP_2567
      - SERVICE_URL_APP_2567
      - PUBLIC_HTTP_URL=${SERVICE_URL_APP_8080}
      - PUBLIC_WS_URL=${SERVICE_URL_APP_2567}
      - ANIMATIONS_DIR=/app/animations
      - CONFIG_DIR=/app/config
    volumes:
      - animations-data:/app/animations
      - config-data:/app/config

volumes:
  animations-data:
  config-data:
